
[Unit]
Description=iptables rules
After=network.target

[Service]
User=root
ExecStart=iptables-restore < /etc/iptables.rules.v4
ExecStop=iptables-restore < /etc/iptables.empty

[Install]
WantedBy=nginx.service
