
[Unit]
Description=iptables rules

[Service]
User=root
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c "/sbin/iptables-restore < /etc/iptables.rules.v4"
ExecStop=/bin/sh -c "/sbin/iptables-restore < /etc/iptables.empty"

[Install]
WantedBy=multi-user.target
